
body { 
font-family: "Comic Sans MS", cursive, sans-serif;
background-color: white;
color: #141414;
 }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

li {
	display: inline;
}

h1 {
 font-size: 300%; 
}

p { 
	font-size: 130%;
	line-height: 1.75;
 }
 
 a { 
	color: white;
	text-decoration: none;
 }
 
 div {
	 border-width: 1px;
	 border-style: dashed;
	 border-color: transparent;
	 border-radius: 10px;
 }
 
 #container {
	 width: 80%;
	 margin: auto;
	 margin-top: 50px;
 }
 
 #main {
	 background-color: #C4C4C0;
	 padding: 30px;
	 box-shadow: 7px 7px 25px rgba(0,0,0,.4);
 }
 
 
 #priority {
	 background-color: #636263;
	 color: white;
	 text-align: center;
	 width: 75%;
	 margin: auto;
	 clear: both;
	 box-shadow: 1px 1px 25px rgba(232,32,69,.1);
 }
 
 #priority a:hover {
	color: #F2C18F;
 }
 
 #footer {
	 color: #141414;
	 text-align: center;
	 text-transform: uppercase;
	 font-size: 50%;
	 padding: 15px;
 }
 
 #footer img {
	 margin: 5px;
 }
 
 #navigation a {
	 border-width: 0;
	 padding: 0;
	 display: inline;
	 text-shadow: 1px 1px 10px rgba(0,0,0,.4);
	 margin: 0 30px 0 0;
 }
 
 #navigation a:hover {
	 color: #F0959F;
 }
 
 .colorchange1 {  color: #946541;
 }
 
 
 .right { float: right;
	 
 }
 
 img.snapshot {
	 border-width: 5px;
	 border-style: solid;
	 border-color: white;
	 box-shadow: 1px 1px 15px rgba(232,32,69,.3);
	 margin: 10px 20px 40px 30px;
	 -moz-transform: rotate(-5deg); /*firefox*/
	 -webkit-transform: rotate(-5deg); /*chrome, safari*/
	 -o-transform: rotate(-5deg); /*opera*/
	 -ms-transform: rotate(-5deg); /*internet explorer*/
 }